/***  POPPINS  ***/

@font-face {
  font-family: 'Macondo Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Macondo Swash Caps'), local('MacondoSwashCaps-Regular'), url(https://fonts.gstatic.com/s/macondoswashcaps/v2/adVweg3BJhE6r8jYmXseHQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Macondo Swash Caps';
  font-style: normal;
  font-weight: 700;
  src: local('Macondo Swash Caps'), local('MacondoSwashCaps-Bold'), url(https://fonts.gstatic.com/s/macondoswashcaps/v2/vdpMRWfyjfCvDYTz00NEPGaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pimg1 {
  background-image: url("../styles/images/elephant.jpg");
  min-height: 100%;
}

.pimg2 {
  background-image: url("../styles/images/jaguar.jpg");
  min-height: 400px;
}

.pimg3 {
  background-image: url("../styles/images/lion.jpg");
  min-height: 400px;
}
