/***  POPPINS  ***/

@font-face {
  font-family: 'Macondo Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Macondo Swash Caps'), local('MacondoSwashCaps-Regular'), url(https://fonts.gstatic.com/s/macondoswashcaps/v2/adVweg3BJhE6r8jYmXseHQzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'Macondo Swash Caps';
  font-style: normal;
  font-weight: 700;
  src: local('Macondo Swash Caps'), local('MacondoSwashCaps-Bold'), url(https://fonts.gstatic.com/s/macondoswashcaps/v2/vdpMRWfyjfCvDYTz00NEPGaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


/***  WILD  ***/
h1 {
  color: Red;
  font-family: "Macondo Swash Caps";
}


/*** ELEPHANT  ***/

.elephant {
  height: 100%;
  padding-bottom: 100px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/elephant.jpg") no-repeat center center fixed;

  color: #8E8E38;
  font-family: "Macondo Swash Caps";
}


/***  JAGUAR  ***/

.jaguar {
  height: 100%;
  padding-bottom: 100px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/jaguar.jpg") no-repeat center center fixed;

  color: #C5C1AA;
  font-family: "Macondo Swash Caps";
}

/***  LION  ***/

.lion {
  height: 100%;
  padding-bottom: 100px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
  url("../styles/images/lion.jpg") no-repeat center center fixed;

  color: #C67171;
  font-family: "Macondo Swash Caps";
}
